<div>
  <!-- Main Container-->
  <div class="row">
    <div class="col-xs-12">
      <div class="journey">

        <div class="text-center journey-welcome">
          <h3><span>Welcome!</span> Choose a track to get started</h3>
        </div>
        <a href="#">
          <div ui-sref="journeyOverview" class="col-sm-3 col-md-4 food-type-container">
            <div class="journey-progress">
              <img src="../content/images/american-food-icon.png" alt="American Food"/>
              <span class="food-name-type">American</span>

              <div class="progress-percentage">20%</div>
            </div>
            <div class="description">
              <p>One characteristic of American cooking is the fusion of multiple ethnic of regional approaches into
                completely new cooking styles.</p>
              <span class="duration">Duration: 3 weeks</span>
            </div>
          </div>
        </a>

        <a href="#">
          <div ui-sref="journeyOverview" class="col-sm-3 col-md-4 food-type-container">
            <div class="journey-progress">
              <img src="../content/images/italian-food-icon.png" alt="Italian Food"/>
              <span class="food-name-type">Italian</span>

              <div class="progress-percentage">0%</div>
            </div>
            <div class="description">
              <p>An Italian meal is famous for its structure sections: the appetiser, pasta or rice dish, a meat course
                and dolce dessert.</p>
              <span class="duration">Duration: 1 weeks</span>
            </div>

          </div>
        </a>

        <a href="#">
          <div ui-sref="journeyOverview" class="col-sm-3 col-md-4 food-type-container">
            <div class="journey-progress">
              <img src="../content/images/mexican-food-icon.png" alt="Mexican Food"/>
              <span class="food-name-type">Mexican</span>

              <div class="progress-percentage">0%</div>
            </div>
            <div class="description">
              <p>Known for its varied flavours and spices, the food of Mexico is a result of the Spanish conquistadores'
                interaction with the aztec culture.</p>
              <span class="duration">Duration: 2 weeks</span>
            </div>
          </div>
        </a>

        <a href="#">
          <div ui-sref="journeyOverview" class="col-sm-3 col-md-4 col-md-offset-2 food-type-container">
            <div class="journey-progress">
              <img src="../content/images/japanese-food-icon.png" alt="Japanese Food"/>
              <span class="food-name-type">Japanese</span>

              <div class="progress-percentage">0%</div>
            </div>
            <div class="description">
              <p>In 2014, 14 restaurants in Tokyo and Shonan mantain Michelin three-stars rating, the ultimate
                international recognition in the culinary world.</p>
              <span class="duration">Duration: 3 weeks</span>
            </div>

          </div>
        </a>


        <a href="#">
          <div ui-sref="journeyOverview" class="col-sm-3 col-md-4 food-type-container">
            <div class="journey-progress">
              <img src="../content/images/Chopsticks.png" alt="Korean Food"/>
              <span class="food-name-type">Korean</span>

              <div class="progress-percentage">0%</div>
            </div>
            <div class="description">
              <p>In 2014, 14 restaurants in Tokyo and Shonan maintain a Michelin three-stars rating, the ultimate
                international recognition in the culinary world.</p>
              <span class="duration">Duration: 3 weeks</span>
            </div>
          </div>
        </a>

      </div>
    </div>
  </div>

</div>
