<div>
  <!-- Main Container-->
  <div class="row">
    <div class="col-xs-12">
      <div class="main-content">
        <div class="main-content-intro">
          <h2>Challenge Yourself</h2>
          <h4>FoodieJournal makes it easy for you to embark
            <br> on a journey to discover new cuisines</h4>
          <button class="btn btn-primary">Get Started</button>
          <div class="main-content-discover">
            Discover More <span class="glyphicon glyphicon-menu-down"></span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--Main Features-->
  <div class="row">
    <div class="col-xs-12">
      <div class="main-features">
        <div class="col-sm-4">
          <div class="circleContainer">
            <div class="sprites utensils"></div>
          </div>
          <p>Explore the top 5
            <br>international cuisines and
            <br>follow cuisine journeys</p>
        </div>
        <div class="col-sm-4">
          <div class="circleContainer">
            <div class="sprites road-directions"></div>
          </div>
          <p>Receive retaurant
            <br>recommendations based on
            <br>your oreferences and location</p>
        </div>
        <div class="col-sm-4">
          <div class="circleContainer">
            <div class="sprites check-white"></div>
          </div>
          <p>Complete challenges and
            <br>track your progress against
            <br>your selected cuisine journey</p>
        </div>
      </div>
    </div>
  </div>

  <footer>
    <p>Developed by</p>
    <div class="footer-images">
      <div class="sprites aowp"></div>
      <div class="sprites accenture-owp"></div>
    </div>
  </footer>
</div>

